
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

		<listener class-name = "com.report.ExtentReporterNg" />

</listeners>


  <test name="Extent Report">
    <classes>
      <class name="com.firsttest.DemoTestclass"/>
      <class name="com.firsttest.DemoTest2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


